In [1]:
import pandas as pd
from sklearn.decomposition import PCA
from numpy import corrcoef

Загрузите данные close_prices.csv. В этом файле приведены цены акций 30 компаний на закрытии торгов за каждый день периода.

In [2]:
data = pd.read_csv('close_prices.csv')
data.head()

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

На загруженных данных обучите преобразование PCA с числом компоненты равным 10. Скольких компонент хватит, чтобы объяснить 90% дисперсии?

In [3]:
X_train = data.loc[:,'AXP':]
pca = PCA(n_components=10)
pca.fit(X_train)

PCA(n_components=10)

In [4]:
var, count  = 0, 0
for i in pca.explained_variance_ratio_:
    count += 1
    var += i
    if var >= 0.9:
        break
count

4

Примените построенное преобразование к исходным данным и возьмите значения первой компоненты.

In [5]:
data_pca = pd.DataFrame(pca.transform(X_train))
data_pca.head()

,0,1,2,3,4,5,6,7,8,9
0,-50.902404,17.631677,7.736021,2.596010,2.377569,4.244055,12.883088,3.556570,-5.821974,-1.726040
1,-52.846909,19.146907,7.272546,4.618575,0.102182,3.935519,11.062930,3.432599,-5.633181,-2.012232
2,-54.614439,19.927358,8.109958,4.920347,-0.421454,4.555335,10.119224,4.175203,-5.388287,-2.752699
3,-52.600566,19.941571,6.948113,4.806243,0.319779,5.065505,9.849605,3.266579,-5.974574,-1.922746
4,-52.370123,22.289064,8.410868,3.833372,-2.464882,4.359897,7.988691,3.452709,-5.745204,-1.875131

Загрузите информацию об индексе Доу-Джонса из файла djia_index.csv. Чему равна корреляция Пирсона между первой компонентой и индексом Доу-Джонса?

In [6]:
data_dj = pd.read_csv('djia_index.csv')
data_dj = data_dj['^DJI']
data_dj.head()

0    15401.379883
1    15334.589844
2    15273.259766
3    15328.299805
4    15258.240234
Name: ^DJI, dtype: float64

In [7]:
corr = corrcoef(data_pca[0], data_dj)
corr

array([[1.        , 0.90965222],
       [0.90965222, 1.        ]])

Какая компания имеет наибольший вес в первой компоненте? Укажите ее название с большой буквы.

In [8]:
ww = pd.Series(pca.components_[0])
ww = ww.sort_values(ascending=False).index[0]
name_company = X_train.columns[ww]
name_company

'V'